stages:
  - build
  - deploy
  - test

test:
  stage: test
  tags:
    - runner-6
  script:
    - "cd api"
    - "mvn test"
  only:
    - merge_requests

api-build:
  stage: build
  only:
    - master
  when: manual
  tags:
    - runner-6
  variables:
    IMAGE_NAME: kramerius/api
  script:
    - "cd api"
    - "mvn clean package -B -Dmaven.test.skip=true"
    - "createDocker"
  artifacts:
    paths:
      - api/krameriusplus-app/target/krameriusplus-app-*.jar

api-deploy:
  stage: deploy
  only:
    - master
  needs:
    - api-build
  variables:
    APP: $CI_COMMIT_REF_NAME
    CI_ENVIRONMENT_URL: http://$CLUSTER_IP_API/
    IMAGE_NAME: kramerius/api
  script:
    - "cd api"
    - "sed -i \"s/clusterIP:$/clusterIP: $CLUSTER_IP_API/g\" .deployment.yml"
    - "deploy -m delete -f .deployment.yml -n production"

api-stop:
  stage: deploy
  only:
    - master
  when: manual
  script:
    - "cd api"
    - "kubectl delete -f .deployment.yml -n production"

web-build:
  stage: build
  only:
    - master
  when: manual
  tags:
    - yarn
    - docker
  variables:
    IMAGE_NAME: kramerius/web
  script:
    - "cd web"
    - "yarn"
    - "CI=false NODE_OPTIONS=--openssl-legacy-provider yarn build"
    - "createDocker"

web-deploy:
  stage: deploy
  only:
    - master
  needs:
    - web-build
  script:
    - "cd web"
    - "sed -i \"s/clusterIP:$/clusterIP: $CLUSTER_IP_WEB/g\" .deployment.yml"
    - "sed -i \"s/ClusterAPIIP$/$CLUSTER_IP_API/g\" .deployment.yml"
    - "sed -i \"s/ClusterTEIIP$/$CLUSTER_IP_TEI/g\" .deployment.yml"
    - "sed -i \"s/ClusterMONGODBIP$/$CLUSTER_IP_MONGODB/g\" .deployment.yml"
    - "deploy -m delete -n production -f .deployment.yml"

web-stop:
  stage: deploy
  only:
    - master
  when: manual
  script:
    - "cd web"
    - "kubectl delete -f .deployment.yml -n production"

activemq-build:
  stage: build
  only:
    - master
    - docker
  when: manual
  variables:
    IMAGE_NAME: kramerius/activemq
  script:
    - "cd activemq"
    - "createDocker"
